$primary: (#0f044c);
$secondary: (#787a91);
$info: (#141e61);
$white: (#eeeeee);

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=News+Cycle&display=swap"); //font-family: 'News Cycle', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

body {
    background-color: $info;
}

h1,
h2,
h3 {
    font-family: "Oswald", sans-serif;
    color: $white;
}

p {
    font-family: "Imprima", sans-serif;
    color: $white;
}

// body {
//     background-color: $secondary;
// }
