{{ form_start(form) }}
{{ form_widget(form) }}
<div class="d-flex justify-content-center mb-3">
	<button class="btn btn-secondary text-white rounded-4 fs-4 fw-semibold px-5">{{ button_label|default('Submit') }}</button>
</div>
{{ form_end(form) }}
