<div{{ attributes }}>
    <nav class="navbar navbar-expand-md shadow-lg bg-primary w-100 sticky-top" id="topNavbar">
        <div class="container-fluid">
            <h1 class="text-white m-0">
                Task Central
            </h1>
            <button class="btn float-end bg-white navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</div>
